.review{
    width: 100%;
    height:100vh;
    padding-top: 80px ;
}

.review h1{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.review h1 span{
    font-size: 60px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, rgb(255, 0, 247), rgb(183, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
    line-height: 100px;
}

.review .review_box{
    width: 95%;
    position: relative;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
}

.review .profile .profile_image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, alpha0.6);
    cursor: pointer;
    transition: 0.3s;
}

.review .profile:hover .profile_image{
    transform: scale(1.2);
}

.review .profile_image img{
    width: 100%;
    height:100%;
    object-fit:cover;
    object-position: center;

}

.review .profile{
    display: flex;
    align-items: center;

}

.review .review_box .review_card{
    width: 500px;
    background-color: rgb(235, 219, 253);
    padding: 20px 25px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
}

.review .review_box .review_card .card_top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review .review_box .review_card .card_top .profile .name{
    margin-left: 20px;
    line-height: 22px;
}

.review .review_box .review_card .card_top .profile .name strong{
    font-size: 20px;
}

.review .review_box .review_card .card_top .profile .name .like i{}