<div class="about">
    <h1>Web<span>About</span></h1>

    <div class="about_main">
        <div class="about_image">
            <div class="about_small_image">
                <img src="https://th.bing.com/th/id/OIP.d-7UFbAaPsT2y3dYpaKm1AHaFb?pid=ImgDet&rs=1" onclick="functio(this)">
                <img src="https://th.bing.com/th/id/OIP.d-7UFbAaPsT2y3dYpaKm1AHaFb?pid=ImgDet&rs=1" onclick="functio(this)">
                <img src="https://th.bing.com/th/id/OIP.d-7UFbAaPsT2y3dYpaKm1AHaFb?pid=ImgDet&rs=1"onclick="functio(this)">
                <img src="https://th.bing.com/th/id/OIP.d-7UFbAaPsT2y3dYpaKm1AHaFb?pid=ImgDet&rs=1"onclick="functin(this)">
            </div>
        </div>
            <div class="image_container">
                <img src="https://th.bing.com/th/id/OIP.d-7UFbAaPsT2y3dYpaKm1AHaFb?pid=ImgDet&rs=1" id="imagebox">
            </div>
        

        <div class="about_text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iusto doloribus tempore, earum odio quibusdam facilis aspernatur eveniet excepturi molestiae nobis autem reprehenderit similique in unde. Repellat deleniti culpa nam!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, blanditiis expedita, cum vero ducimus nam, illum rerum temporibus id dignissimos autem quas numquam libero maiores nemo. Sit consectetur dignissimos dolore.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates minus quis cupiditate totam explicabo vero, temporibus saepe neque eveniet rerum quaerat aut enim animi debitis? Incidunt veniam explicabo eaque assumenda.lo
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur culpa error voluptatibus, expedita aut esse doloremque repellendus ex magnam itaque quae accusantium, eos eius quisquam voluptatem veniam laudantium magni similique.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit aperiam dicta natus, ipsam commodi illo impedit. Voluptas necessitatibus maiores optio, qui perferendis officia error deserunt, aut tempore beatae debitis dolore.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, eius. Ullam ad distinctio modi quod placeat reprehenderit tenetur neque sapiente unde fuga hic, ratione atque itaque. Nobis assumenda omnis adipisci?

            </p>
        </div>
    </div>

    <a href="#" class="about_btn">Shop Now</a>

    <script>
        function functio(small){
            var full = document.getElementById("imagebox")
            full.src = small.src
        }
    </script>
</div>