.about{
    width: 100%;
    height: 100vh;
    padding: 35px 0;
    margin-top: 16%;
}

.about h1{
    font-size: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform:uppercase ;
}

.about h1 span{
    background: linear-gradient(to right ,rgb(193, 14, 184), rgb(119, 8, 153));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
}

.about .about_main{
    position: relative;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about .about_main .about_image .about_small_image{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15px;

}

.about .about_main .about_image .about_small_image img{
    height: 92px;
    margin: 5px 0;
    cursor: pointer;
    background: linear-gradient(to right, rgb(202, 18, 205), rgb(113, 8, 170));
    display: block;
    border-radius: 6px;
    padding: 5px 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    transition:0.3s;
}

.about .about_main .about_image .about_small_image img:hover{
    opacity:1;
}

.about .about_main .image_container{
    padding:10px ;
    display: flex;
}

.about .about_main .image_container img{
    border:3px solid rgb(157, 0, 255);
    border-radius: 20px;
    height: 430px;
    padding: 30px;
    box-shadow: 0 0 8px rgb(119, 0, 255);
}

.about .about_main .about_text{
    margin-top: 44px;
}

.about .about_main .about_text p{
    background: linear-gradient(to left, rgb(240, 5, 205), rgb(93, 4, 141));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 22px;
    width: 600px;
    text-align: justify;
    padding: 25px 30px;
    border: 2px solid rgb(146, 15, 218);
    border-radius: 20px;
    box-shadow: 0 0 8px rgb(242, 0, 255);
}

.about .about_btn{
    color: black;
    background: none;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 25px;
    border: 2px solid rgb(157, 0, 255);
    text-decoration: none;
    box-shadow: 0 0 8px rgb(225, 0, 255);
    transition: 0.5s;
}

.about .about_btn:hover{
    border: 2px solid transparent;
    background:linear-gradient(to left ,rgb(117, 9, 188), rgb(255, 0, 221), rgb(117, 9, 188));
    color:white;
}

