.products{
    width:100%;
    height: 140vh;
    padding: 25px 0;
}

.products h1{
    margin:35px 0;
    font-size: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right , rgb(255, 0, 242), rgb(46, 2, 76));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.products .box{
    width: 95%;
    margin: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 0;
}

.products .box .card{
    width: 290px;
    height: 440px;
    box-shadow: 0 0 8px violet;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    /* background-color: aquamarine; */
}

.products .box .card .small_card{
    display:flex;
    flex-flow: column;
    position: absolute;
    margin: 10px 0;
    transform: tranlateX(-20px);
    transition: 0.4s;
    opacity: 0;
}

.products .box .card:hover .small_card{
    transform: translateX(2px);
    cursor: pointer;
    opacity: 1;
}

.products .box .card .image img{
    width: 180px;
    margin: 15px 0;
    transition: 0.4s;
}

.products .box .card:hover .image img{
    transition: scale(1.1);
}

.products .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .box .card .small_card i{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 0;
    line-height: 40px;
    border: 2px solid whitesmoke;
    transition: 0.2s;
}

.products .box .card .small_card i:hover{
    color: rgb(226, 43, 101);
}

.products .box .card .products_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.products .box .card .products_text p{
    color: rgb(4, 22, 51);
    line-height: 21px;
    margin: 8px 0;
}

.products .box .card .products_text h3{
    margin: 7px 0;
}

.products .box .card .products_text button{
    position: center;
    padding: 10px 20px;
    margin-top: 9%;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(233, 17, 189), rgb(107, 3, 181));
    color: beige;
}