*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth ;
} 

section{
    width: 100%;
    height: 100vh;
    background-image: url(/shoe/src/assets/bgimg.jfif);
    background-size: cover;
    background-position: center;
}

nav{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: wheat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav span{
    padding:60px;
}

section nav .logo h1{
    font-size: 30px;
    color: rgb(102, 8, 102);
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -4%;
}

section nav .logo h1 span{
    color: rgb(77, 0, 128);
    text-decoration:underline;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display:inline-block;
    margin: 5px 15px;

}

section nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

section nav ul li a:hover{
    color: blueviolet;
} 

section nav .icons i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s;
}

section nav .icons i:hover{
    color: blueviolet;
}

.main .main_content{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.main .main_content .main_text h1{
    font-size: 90px;
    line-height: 70px;
    font-family: pyxidium quick;
    background: linear-gradient(to right , rgb(255, 0, 242), rgb(77, 0, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 90px;
    left: 5%;
 
}

.main .main_content .main_text h1 span{
    font-size: 70px;
    font-style: italic;
    background: linear-gradient(to right , rgb(255, 0, 242), rgb(77, 0, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main .main_content .main_text p{
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    top: 90px;
    left: 10% ;
}

.main .main_content .main_text img{
    width: 650px;
    position:relative;
    left: 20px;
    top: 75px;
}

.main .button{
    position: absolute;
    left: 8%;
    padding: 10px 20px;
    margin-top: 9%;
    margin-left:6% ;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(233, 17, 189), rgb(107, 3, 181));
}

.main .button a{
    color: aliceblue;
}

.main .button i{
    color: antiquewhite;
}

.main .button:hover i{
    color: antiquewhite;
    transform: translateX(6px);
}